{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .product {
            width: 50%;
            margin-left: 10%;
        }

        .product > img {
            width: 60%;
        }

        .dates {
            display: flex;
            justify-content: space-between;
        }

        .comment_block {
            padding: 10px;
            margin-bottom: 20px;
            background: #3CB371;
            color: #ffffff;
        }

        .comments_title {
            font-size: 26px;
            font-weight: bold;
            margin-top: 50px;
        }

    </style>
    <div class="product">
        <img src="/media/{{ product.image }}">
        <h1>{{ product.title }}</h1>
        <h5>{{ product.description }}</h5>
        <div class="dates">
            <h6>{{ product.created_date }}</h6>
            <h6>{{ product.modified_date }}</h6>
        </div>
        <h6 class="comments_title">Review:</h6>
        <div class="comments">
            {% for comment in comments %}
                <div class="comment_block">
                    <h6>{{ comment.text }}</h6>
                    <p>{{ comment.created_date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}